* {
    padding: 0;
    margin: 0;
    border: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.dark-theme {
    font-family: "Josephin Sans", sans-serif;
    font-size: 20px;
    background-color: hsl(235, 21%, 11%);
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 40vw;
    height: 100vh;
    padding: 5rem;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    letter-spacing: 12px;
    padding-bottom: 30px;
}

.title span {
    background-image: url("../images/icon-sun.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.new-item {
    background-color: hsl(235, 24%, 19%);
    height: 6vh;
    width: 35vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 15px 10px 10px 15px;
}

.new-item input {
    background: transparent;
    color:white;
    border: 0;
    width: 80%;
    height: 6vh;
    font-size: 20px;
    margin-left: 30px;
    /* margin-top: 20px; */
}

.new-item span {
    border: 2px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 12px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    padding: 40px 0 40px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    width: 35vw;
    /* transform: translateX(-5%) */
}

li {
    border-bottom: solid 1px darkgrey;
    height: 6vh;
    width: 35vw;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    padding: 15px 10px 10px 15px;
    display: flex;
    align-items: center;
}

ul li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

ul span {
    border: 2px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block; 
}

ul li label {
    position: relative;
    margin-left: 30px;
}

.bottom {
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

.bottom label {
    font-weight: 700;
}

.bottom label:hover {
    color: hsl(236, 33%, 92%);
}



.light-theme {
    font-family: "Josephin Sans", sans-serif;
    font-size: 20px;
    background-color: hsl(236, 33%, 92%);
    background-image: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light-theme .wrap {
    color: black;
}

.light-theme .title span {
    background-image: url("../images/icon-moon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.light-theme .bottom {
    color: hsl(236, 9%, 61%)
}

.light-theme .bottom label:hover {
    color: black;
}

.light-theme .new-item {
    background-color: hsl(0, 0%, 98%);
}

.light-theme .new-item input {
    color: hsl(235, 19%, 35%)
}

.light-theme ul li {
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}

.light-theme .title {
    color: white;
}

.light-theme .new-item span {
    border: 2px solid hsl(233, 11%, 84%);
}

.light-theme ul li span {
    border: 2px solid hsl(233, 11%, 84%);;
}