* {
    padding: 0;
    margin: 0;
    border: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: "Josephin Sans", sans-serif;
    font-size: 20px;
    background-color: hsl(235, 21%, 11%);
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 40vw;
    height: 100vh;
    padding: 5rem;
    color: hsl(234, 39%, 85%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    letter-spacing: 12px;
    padding-bottom: 30px;
    color: white;
}

.tgl {
    background-image: url("../images/icon-sun.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.new-item {
    background-color: hsl(235, 24%, 19%);
    height: 6vh;
    width: 35vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px 10px 15px;
}

.new-item input {
    background: transparent;
    color:white;
    border: 0;
    width: 80%;
    height: 6vh;
    font-size: 20px;
    margin-left: 30px;
    /* margin-top: 20px; */
}

.circle {
    border: 2px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.alert {
    color: #002699;
    background-color: hsl(234, 39%, 85%);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding-top: 8px;
}

form {
    font-size: 18px;
    padding: 40px 0 40px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-5%) */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    border-bottom: solid 1px hsl(234, 39%, 85%);
    height: 6vh;
    width: 35vw;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    padding: 15px 10px 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.crossed {
    text-decoration: line-through;
}

form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /*  margin: 10px;
    background-color: hsl(235, 24%, 19%); */
}

.checkmark {
    display: inline-block;
    position: relative;
    border: 2px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: hsl(235, 24%, 19%);
    margin: 10px;
}

form input:checked ~ .checkmark {
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

.delete {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.delete-btn {
    background-image: url(../images/icon-cross.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border: 0;
    background-color: hsl(235, 24%, 19%);
    visibility: hidden;
}

label:hover .delete-btn {
    visibility: visible;
}


/* form input:checked + label {
    text-decoration: line-through;
} */




.bottom {
    color: hsl(233, 14%, 35%);
    font-size: 16px;
}

.bottom label {
    font-weight: 700;
}

.bottom label:hover {
    color: hsl(236, 33%, 92%);
}

.bottom label:active {
    color: hsl(220, 98%, 61%);
}

.bottom button {
    background: none;
    border: none;
    color:hsl(233, 14%, 35%)
}

.bottom button:hover {
    color: hsl(236, 33%, 92%)
}







.light {
    font-family: "Josephin Sans", sans-serif;
    font-size: 20px;
    background-color: hsl(236, 33%, 92%);
    background-image: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat; 
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light .wrap {
    color: black;
}

.light .tgl {
    background-image: url("../images/icon-moon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.light .bottom {
    color: hsl(236, 9%, 61%);
}

.light .bottom button {
    color: hsl(236, 9%, 61%);
}

.light .bottom button:hover {
    color: black;
}

.light .bottom label:hover {
    color: black;
}

.light .new-item {
    background-color: hsl(0, 0%, 98%);
}

.light .new-item input {
    color: hsl(235, 19%, 35%)
}

.light form label {
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}

.light .title {
    color: white;
}

.light .circle {
    border: 2px solid hsl(233, 11%, 84%);
}

.light .checkmark {
    border: 2px solid hsl(233, 11%, 84%);
    background-color: hsl(0, 0%, 98%);
}

.light .delete-btn {
    background-color: hsl(0, 0%, 98%);
}